/* Umumiy dizayn */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Kichik ekranlar uchun qo'shimcha padding */
}

.form-card {
  width: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Kartaga biroz yumaloq burchaklar qo'shish */
  padding: 20px; /* Ichki padding qo'shildi */
}

/* Responsiv o'lchamlar */
@media (max-width: 768px) {

   .form-container {
    padding: 0; /* Qo'shimcha joyni kamaytirish uchun paddingni olib tashlash */
  }
}

@media (max-width: 480px) {
  .form-card {
    width: 100% !important; /* Juda kichik ekranlar uchun kartani to'liq kenglikda qilish */
    box-shadow: none; /* Kichik ekranlar uchun soyani olib tashlash */
    padding: 15px; /* Kichik ekranlarda paddingni kamaytirish */
  }
}
